.reelContainer {
  .reel {
    height: 300px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;

    .reelImagesContainer {
      position: relative;
      > div {
        height: 40px;
        width: 50px;
        position: absolute;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: red;
        &.reel-1 {
          top: 150px;
          left: 0;
        }
      }
    }
  }
}
