.reelContainer {
  .reel {
    height: 355px;
    width: 355px;
    background-size: cover;
    background-repeat: no-repeat;

    .reelImagesContainer {
      position: relative;
      > div {
        height: 39px;
        width: 43px;
        position: absolute;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-color: rgb(31, 207, 31);
        border-radius: 6px;

        &.slide-1 {
          top: 158px;
          &.left {
            left: 33px;
          }

          &.right {
            right: 33px;
          }
        }

        &.slide-2 {
          transform: rotate(206deg);
          &.left {
            top: 105px;
            left: 45px;
          }

          &.right {
            top: 211px;
            right: 45px;
          }
        }

        &.slide-3 {
          transform: rotate(52deg);
          &.left {
            top: 62px;
            left: 79px;
          }

          &.right {
            top: 255px;
            right: 79px;
          }
        }

        &.slide-4 {
          &.left {
            transform: rotate(258deg);
            top: 38px;
            left: 129px;
          }

          &.right {
            transform: rotate(257deg);
            top: 278px;
            right: 128px;
          }
        }

        &.slide-5 {
          &.left {
            transform: rotate(103deg);
            top: 39px;
            left: 184px;
          }

          &.right {
            transform: rotate(104deg);
            top: 278px;
            right: 183px;
          }
        }

        &.slide-6 {
          transform: rotate(309deg);
          &.left {
            top: 62px;
            left: 233px;
          }

          &.right {
            top: 255px;
            right: 233px;
          }
        }

        &.slide-7 {
          transform: rotate(154deg);
          &.left {
            top: 105px;
            left: 267px;
          }

          &.right {
            top: 211px;
            right: 268px;
          }
        }
      }
    }
  }
}
